* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto;

}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 200px 100px 0px 100px;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    max-width: 632px;
    padding: 0px 350px;
}

.section1 h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin: 50px 100px 20px 100px;
}

.section1 h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 100px 16px 100px;
}

.section1 h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.section1-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 48px 350px;
}