* {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    margin: 50px auto;

}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 200px 100px 0px 100px;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    max-width: 632px;
    padding: 0px 350px;
}

/* Main Section Styles */
main {
    max-width: 1320px;
    margin: 0px auto;
}

/* section 1 */
.section1 h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin: 50px 100px 20px 100px;
}

.section1 h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 100px 16px 100px;
}

.section1 h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.section1-img {
    margin: 48px 250px;
}

/* Section 2 styles */
.section2 {
    background-image: url('../resources/Vectorrr.png');
    height: 600px;
    margin: 50px auto;
    display: flex;
}

.text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    max-width: 642px;
    padding: 126px 400px 0px 126px;
}

.text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    max-width: 697px;
    padding: 20px 300px 0px 126px;
}

.join-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff00;
    border: none;
    margin: 48px 158px;
    cursor: grab;
}

.img {
    padding: 60px 40px 0px 0px;
}

/* section3 style */
.section3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 442px;
    align-items: center;
}

.sec3-text {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding: 80px 0px 50px 0px;
}

.sec3-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    align-items: center;
    margin: 20px 560px;
    cursor: grab;
}

.sec3-s-text {
    color: #F00;
}

/* Section 4 Styles */
.section4 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.sec4-left-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 100px 0px 0px 0px;
}

.sec4-left-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.sec4-left-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 390px;
}

.sec4-middle-img {
    border: 15px solid #F00;
    border-radius: 200px;
}

.sec4-right-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 100px 0px 0px 0px;
}

.sec4-right-text p {
    max-width: 276px;
    max-height: 96px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* Section 5 styles */

.sec5-text {
    text-align: center;
    margin: 120px auto;
}

.sec5-text h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sec5-text h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sec5-text p {
    max-width: 900px;
    max-height: 96px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding: 0px 250px 0px 220px;
}

.sec5-img {
    position: relative;
    top: 0;
    left: 0;
}

.sec5-img1 {
    width: 550px;
    height: 500px;
    position: relative;
    top: -200px;
    left: 50px;
}

.sec5-img2 {
    position: relative;
    top: -420px;
    left: -240px;
    border-style: none;

}

.sec5-img3 {
    width: 430px;
    position: relative;
    top: -360px;
    left: 336px;
    height: 433px;
    border-radius: 16px 16px 0px 0px;

}

.sec5-img4 {
    width: 1320px;
    height: 230px;

    position: relative;
    top: 374px;
}

/* section 6 styles */

.sec6-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sec6-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sec6-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.section6 .sec6-img .first {
    display: flex;
}

.section6 .sec6-img .second {
    display: flex;
}

/* section 7 style */
.section7 {
    margin: 100px auto;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
}

.section7 #img {
    margin: 80px 0px 40px 0px;
}

.section7 h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.section7 p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 20px 0px 0px 0px;
}

.section7 form {
    max-width: 648px;
    padding: 48px 0px 80px 200px;
    display: flex;
    border: 10px solid rgba(242, 159, 159, 0);
    ;
}

.section7 form input {
    /* flex-grow: 1; */
    width: 400px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 25px 477px 25px 30px;
    outline: none;
    font-size: 20px;
}

.section7 form button {
    width: 210px;
    height: 72px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: grab;
}

/* footer style */
footer {
    max-width: 1600px;
    margin: 50px auto;
    background-color: #070211;
}

.bound {
    max-width: 1320px;
    margin: 50px auto;
    background-color: #070211;
}

/* footer row 1 */
.footer-row1 {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 50px 0px;
}

.footer-row1 .left h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-row1 .right .line1 {
    display: flex;
}

.footer-row1 .right .line1 img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-row1 .right .line1 button {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    background-color: #070211;
    border: none;
    cursor: grab;
}

.footer-row1 .right .line2 {
    display: flex;
}

.footer-row1 .right .line2 img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-row1 .right .line2 a {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}


/* footer row 2 */
.footer-row2 {
    text-align: center;
}

.footer-row2 button {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background-color: black;
    border: none;
    cursor: grab;

}

.footer-row2 .Facebook {
    background-image: url(../resources/Facebook.png);
}

.footer-row2 .Instagram {
    background-image: url(../resources/Instagram.png);
}

.footer-row2 .Twitter {
    background-image: url(../resources/Twitter.png);
}

.footer-row2 .Linkedin {
    background-image: url(../resources/Linkedin.png);
}

/* row 3 */
.footer-row3 {
    color: #FFF;
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    justify-content: space-between;
    padding: 98px 0px 120px 0px;

}

.footer-row3 button {
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none;
    background-color: black;
    cursor: grab;
}